body {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 45px;
  letter-spacing: 1.5px; }

h3 {
  font-size: 42px;
  letter-spacing: 1px; }

h4 {
  font-size: 40px;
  letter-spacing: 1.2px; }

h2, h3, h4 {
  margin-top: 0;
  font-weight: 200; }
  h2 span, h3 span, h4 span {
    font-weight: 900; }
  @media (max-width: 1000px) {
    h2, h3, h4 {
      margin-bottom: 20px;
      font-size: 30px; } }

p {
  font-size: 15.57px;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0.5px; }
  @media (max-width: 1000px) {
    p {
      font-size: 13px;
      line-height: 22px; } }

a, input, textarea {
  font-size: 16.57px;
  text-transform: capitalize; }

a {
  margin-top: 50px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 17px 0;
  display: block;
  max-width: 210px;
  text-align: center;
  transition: 0.5s; }
  a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  @media (max-width: 1000px) {
    a {
      margin-top: 25px; } }
  @media (max-width: 705px) {
    a {
      margin: 25px auto 0; } }
  @media (max-width: 330px) {
    a {
      max-width: 180px; } }

.grid-item-beige a {
  color: #262f32;
  border: 1px solid #262f32; }

.span {
  display: block; }
  @media (max-width: 705px) {
    .span {
      display: initial; } }

button {
  margin-bottom: 64px;
  display: block;
  background-image: url("../img/menu.svg");
  background-size: cover;
  background-position: center;
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: none; }
  button:hover {
    cursor: pointer; }
  @media (max-width: 1000px) {
    button {
      margin-bottom: 30px; } }

.form {
  color: #fff;
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .form input, .form textarea {
    box-sizing: border-box;
    padding: 18px 27px;
    border: 1px solid #fff;
    border-radius: 13px;
    background-color: transparent;
    margin-bottom: 13px;
    outline: 0;
    outline-offset: 0;
    color: #fff; }
  .form input {
    width: calc(50% - 5.5px); }
  .form textarea {
    width: 100%;
    min-height: 159px;
    resize: none; }
  .form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
    color: #d6d6d6; }
    @media (max-width: 330px) {
      .form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
        font-size: 13px; } }
  .form input::-moz-placeholder, .form textarea::-moz-placeholder {
    color: #d6d6d6; }
    @media (max-width: 330px) {
      .form input::-moz-placeholder, .form textarea::-moz-placeholder {
        font-size: 13px; } }
  .form input:-moz-placeholder, .form textarea:-moz-placeholder {
    color: #d6d6d6; }
    @media (max-width: 330px) {
      .form input:-moz-placeholder, .form textarea:-moz-placeholder {
        font-size: 13px; } }
  .form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
    color: #d6d6d6; }
    @media (max-width: 330px) {
      .form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
        font-size: 13px; } }

.grid {
  display: grid;
  grid-template-areas: "a a a a a a b b b"  "c c c c d d d d d" "c c c c e e e e e" "f f f g g g g g g"; }
  @media (max-width: 705px) {
    .grid {
      grid-template-areas: "a" "b" "c" "d" "e" "f" "g"; } }

.grid-item-bg,
.grid-item-blue,
.grid-item-beige,
.grid-item-black,
.grid-item-human,
.grid-item-green {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.grid-item-gray,
.grid-item-blue,
.grid-item-beige,
.grid-item-black,
.grid-item-human,
.grid-item-green {
  padding: 60px 55px 70px 55px; }
  @media (max-width: 1000px) {
    .grid-item-gray,
    .grid-item-blue,
    .grid-item-beige,
    .grid-item-black,
    .grid-item-human,
    .grid-item-green {
      padding: 40px 30px; } }
  @media (max-width: 330px) {
    .grid-item-gray,
    .grid-item-blue,
    .grid-item-beige,
    .grid-item-black,
    .grid-item-human,
    .grid-item-green {
      padding: 35px 25px; } }

.grid-item-bg {
  background-image: url("../img/bg.png");
  grid-area: a; }

.grid-item-gray {
  grid-area: b;
  background-color: #f3f3f3; }

.grid-item-blue {
  grid-area: c;
  background-image: url("../img/bg-blue.png"); }
  .grid-item-blue > div {
    margin-bottom: 70px; }
    @media (max-width: 1000px) {
      .grid-item-blue > div:last-child {
        margin-bottom: 10px; } }

.grid-item-beige {
  grid-area: d;
  background-image: url("../img/bg-beige.png"); }
  @media (max-width: 705px) {
    .grid-item-beige {
      text-align: center; } }

.grid-item-black {
  grid-area: e;
  background-image: url("../img/bg-black.png"); }
  @media (max-width: 705px) {
    .grid-item-black {
      text-align: center; } }

.grid-item-human {
  grid-area: f;
  background-image: url("../img/bg-human.png");
  min-height: 715px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 1000px) {
    .grid-item-human {
      min-height: inherit; } }
  @media (max-width: 705px) {
    .grid-item-human {
      text-align: center; } }

.grid-item-green {
  grid-area: g;
  background-image: url("../img/bg-green.png");
  min-height: 715px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 1000px) {
    .grid-item-green {
      min-height: inherit; } }
  @media (max-width: 705px) {
    .grid-item-green {
      text-align: center; } }

.grid-item-blue,
.grid-item-black,
.grid-item-human,
.grid-item-green {
  color: #fff; }

.logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  margin-bottom: 25px; }
  @media (max-width: 1000px) {
    .logo {
      width: 70px;
      height: 70px;
      background-size: cover; } }
  @media (max-width: 705px) {
    .logo {
      margin: 0 auto 25px; } }

.list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0; }
  .list > li {
    margin-right: 6px; }
    .list > li a {
      margin-top: 0; }
    .list > li > a.list-fb {
      background-image: url("../img/fb.svg"); }
    .list > li > a.list-dr {
      background-image: url("../img/dr.svg"); }
    .list > li > a.list-tw {
      background-image: url("../img/tw.svg"); }
    .list > li > a {
      background-repeat: no-repeat;
      width: 45px;
      height: 45px;
      display: block;
      border: none; }
  @media (max-width: 705px) {
    .list {
      justify-content: center; } }

/*# sourceMappingURL=style.css.map */
